pyrofork
py-tgcalls==0.9.7
tgcrypto
asyncio
python-dotenv
requests
httpx[http2]==0.27.2
aiohttp
aiofiles
beautifulsoup4
ffmpeg-python
yt-dlp
git+https://github.com/yt-dlp/yt-dlp.git
motor
dnspython
pyyaml
pillow
numpy
psutil
hachoir
wget
unidecode
speedtest-cli
pykeyboard
spotipy
heroku3
gitpython
